@import '../../styles/global.scss';
@import '../../styles/responsive.scss';

.navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $soft-bg;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    span {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    icon {
      @include sm{
        display: none;
      }
    }

    .notification {
      position: relative;

      span {
        background-color: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        margin-right: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}